
* {
  @import url('https://fonts.googleapis.com/css2?family=Lato:ital,wght@0,400;0,700;1,100&display=swap');
  padding: 0;
  margin: 0;
}

body {
  padding-bottom: 3rem;
  color: #8e8d8a;
  background-color: #f5f4ef;
  font-family: 'Lato', sans-serif;
}

h2 {
  color: #e85a4f;
}

h1, p {
  color: #8e8d8a;
}

p {
  font-weight: 300;
}
 
.btn-light {
 color: #ee9a91;
}

/* CUSTOMIZE THE CAROUSEL
-------------------------------------------------- */

/* Carousel base class */
.carousel {
  margin-bottom: 4rem;
}
/* Since positioning the image, we need to help out the caption */
.carousel-caption {
  bottom: 3rem;
  z-index: 10;
}

/* Declare heights because of positioning of img element */
.carousel-item {
  height: 32rem;
}
.carousel-item > img {
  position: absolute;
  top: 0;
  left: 0;
  min-width: 100%;
  height: 32rem;
}

svg {
  color: #e8dbc9;
}
/* MARKETING CONTENT
-------------------------------------------------- */
.marketing h1 {
  text-align: center;
}
/* Center align the text within the three columns below the carousel */
.marketing .col-lg-6 {
  padding: 3rem;
  margin-bottom: 1.5rem;
  text-align: center;
}
.marketing h2 {
  font-weight: 400;
}
/* rtl:begin:ignore */
.marketing .col-lg-6 p {
  margin-right: .75rem;
  margin-left: .75rem;
}
/* rtl:end:ignore */


/* Featurettes
------------------------- */

.featurette-divider {
  margin: 5rem 0; /* Space out the Bootstrap <hr> more */
}

.featurette h1 {
  text-align: center;
  padding-bottom: 3rem;
}

/* Thin out the marketing headings */
.featurette-heading {
  font-weight: 400;
  line-height: 1;
  /* rtl:remove */
  letter-spacing: -.05rem;
}

.fa {
  text-decoration: none;
  letter-spacing: 30px;
}
.fa:hover {
  opacity: 0.7;
}

.fa-facebook {
/* background: #3B5998; */
color: #3B5998;
}

.fa-linkedin {
/* background: #55ACEE; */
color: #55ACEE;
}

.fa-youtube {
/* background: #bb0000; */
color: #bb0000;
}


.social {
  text-align: center;
  padding-bottom: 5rem;
  font-size: 2em;
}

footer p {
  text-decoration: none;
  color: #ee9a91;
  text-align: center;
}
/* RESPONSIVE CSS
-------------------------------------------------- */

@media (min-width: 26em) {
  .featurette {
    text-align: center;
  }
  
  .col-md-5 svg {
    width: 10em;
    height: 10em;
    display: block;
    margin: auto;
  }  
}

@media (min-width: 40em) {
  /* Bump up size of carousel content */
  .carousel-caption p {
    margin-bottom: 1.25rem;
    font-size: 1.25rem;
    line-height: 1.4;
  }
}

@media (min-width: 62em) {
  .featurette-heading {
    margin-top: 7rem;
  }
}

